* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.full-width {width: 100%}

.grid_container {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	width: 100%;
	max-width: 1280px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.grid_item {
	border: solid transparent;
	border-width: 10px; /* Gutter size */
	background-clip: padding-box;
}

.grid_1 {width: 8.33%}
.grid_2 {width: 16.66%}
.grid_3 {width: 25%}
.grid_4 {width: 33.33%}
.grid_5 {width: 41.66%}
.grid_6 {width: 50%}
.grid_7 {width: 58.33%}
.grid_8 {width: 66.66%}
.grid_9 {width: 75%}
.grid_10 {width: 83.33%}
.grid_11 {width: 91.66%}
.grid_12 {width: 100%}




@media screen and (max-width: 840px) {

	.four_column,
	.two_column:not(.two_column-no_wrap) {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

	.grid_3 {width: 50%}

	.grid_6 {width: 100%}

	.grid_item {border-width: 10px}

}

@media screen and (max-width: 610px) {

	.three_column {
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	}

	.grid_4, .grid_8 {width: 100%}

}











